$color-sky-blue: #cce5ff;
$color-light-blue:   #7BD0FF;
$color-tint-blue:   #33A8F0;
$color-blue:  #33A8F0;
$color-tone-blue:    #0069C4;
$color-shade-blue:  #004C8E;
$color-dark-blue: #1976d2;

$color-tint-gray:    #C9D0D5;
$color-tone-gray:   #969FA5;
$color-shade-gray:   #7F858A;

$color-tint-white:   #F7F9FA;
$color-tone-white: #F0F0F0;


$color-onyx:    #4D5154;
$color-yellow:  #FCCD49;
$color-green:   #39CA8D;
$color-dark-green: #28a745;
$color-red: #ac1a2f;
$color-dark-red: #862836;
$color-cloud:   #F7F9FA;

$color-logo-light-blue: #69C9FD;
$color-logo-medium-blue: #1F9DEB;
$color-logo-heavy-blue: #005CB9;
