.exam_navbar {
  background-color: rgb(255, 87, 35);
  height: 60px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 25px;
  color: white;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.exam_nav {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.auth {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 7px;
}

.main_title {
  font-size: 50px;
  text-align: center;
  margin-top: 300px;
}