@import "../../assets/scss/global.scss";

.fileupload-container {
  width: 100%;
  .fileupload-item {
    height: 48px;
    width: 180px;
    border: 1px dashed;
    border-color: $color-tone-gray;;
    border-radius: 5px;
    padding: 5px;
    &:hover {
      border-color: $color-shade-gray;;
    }
  }
  .fileupload-action {
    position: relative;
    border: 1px solid;
    border-color: $color-tone-gray;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    .action-content {
      position: absolute;
      right: 0px;
      top: 24px;
      width: 147px;
      z-index: 9;
      background-color: white;
      text-align: left;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      .action-item {
        padding: 7px 10px;
        &:hover {
          background-color: $color-cloud;
        }
      }
    }
    &:hover {
      border-color: $color-shade-gray;
      background-color: $color-cloud;
    }
  }
  .file-image {
    font-size: 14px;
    font-variation-settings: 'wght' 600;
    i {
      font-size: 32px;
      color: $color-shade-blue;
    }
  }
  .add-file-item-box {
    font-size: 32px;
    // width: 150px;
    // height: 150px;
    height: 148px;
    width: 100%;
    border: 1px dashed;
    border-radius: 5px;
    line-height: 16px;
    position: relative;
    &:hover {
      border-color: $color-shade-gray;
    }
    .add-file-item {
      position: absolute;
      width: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .helper-text {
    margin-left: 0 !important;
    font-family: 'WorkSans' !important;
    font-size: 12px !important;
    font-variation-settings: 'wght' 500 !important;
    color: red;
  }
}